<!DOCTYPE html>
<html lang="zh-hans">
<head>
	<style>
		.about .pagination {
			background: transparent;
		}
		.about .box {
			border: none;
		}
		@font-face {
			font-family: myfont;
			src: url('fonts/glyphicons-halflings-regular.eot');
			src: url('fonts/glyphicons-halflings-regular.eot?iefix') format('embedded-opentype'),
			url('fonts/glyphicons-halflings-regular.woff') format('woff'),
			url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
			url('fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg');
		}
	</style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="js/logo.png" type="image/png">
    <meta name="keywords" content="天津楼宇">
    <meta name="news_keywords" content="天津楼宇">
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
    <link href="./css/style.css" rel="stylesheet" />
    <link href="./css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <title>天津楼宇</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link type="text/css" rel="stylesheet" href="./css/css_4KJZBJUoaM4enx-Tai0AqgnChLVuPVQNTXt5OjaY3Ok.css" media="all">
    <link type="text/css" rel="stylesheet" href="./css/css_O09xZbtltGa96LY4N0Qw-Z-yRxMAnPxkxe9Z8cmv6WE.css" media="all">
    <link type="text/css" rel="stylesheet" href="./css/css_zIesD3NfRh8IE3JUUqHZ-ioQZSvEaTrJUWseTbfi0sY.css" media="all">
    <link rel="stylesheet" href="./css/index.min.css">
    <script type="text/javascript" async="" src="./js/vds.js"></script>
    <script src="./js/js_Xjzh1hVfcgVAixhmmB6Go8TUMPOiprA-2vkC-oWXARQ.js"></script>
    <script src="./js/js_5ZvYbR_RpAnAa4Gy_hGCjwhuaBQEWzQIAwlMCStkIuU.js"></script>
    <script src="./js/js_VtCx2Ekg-G1tlYHNAfla7nkoB-GzON64nIp1iXa-dng.js"></script>
    <script src="./js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/init.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/raphael.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        lang = 'zh-hans ';
    </script>
	<link href="css/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/jquery.gallery.css">
	<link href="css/popuo-box.css" rel="stylesheet" />
	<link href="css/font-awesome.css" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/jquery.pagination.css" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css"/>
    <script src="./js/echarts.common.min.js"></script>
    <script type="text/javascript" src="./js/jquery.pagination.min.js"></script>
</head>
<body>
    <div class="loaderd"></div>
    <style>
        body {
            font-family: Roboto, "PingFang SC", "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft Yahei", sans-serif !important;
            -webkit-font-smoothing: antialiased;
        }
        #map img {
            max-width: none;
        }
    </style>
    <script type="text/javascript">
        lang = 'zh-hans';
        country_lang = 'zh-cn';
    </script>
    <script type="text/javascript">
        setTimeout(function() {
            $('.loaderd').fadeOut();
        }, 2000);
        var _vds = _vds || [];
        window._vds = _vds;
        (function() {
            _vds.push(['setAccountId', 'b07596d797a03413']);
            (function(){
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = 'js/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <div class="preloader loaded" data-c-lang="zh-cn" data-ix="preloader" style="display: none; transition: opacity 400ms; opacity: 0;"><img class="loading-gid" src="./images/rolling-2.gif" width="60">
    </div>
    <header class="mini-header" style="transform-style: preserve-3d; transition: transform 300ms; transform: translateX(0px) translateY(0px) translateZ(0px);">
        <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
            <div class="header w-clearfix wrapper">
                <a class="logo mini w-nav-brand" hrefs="http://www.nwcl.com.hk/zh-hans/"><img height="" src="./images/footer-logo-nwgm.png" title="天津楼宇" alt="天津楼宇">
                </a>
                <div class="menu-button w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
                <nav class="navmenu w-nav-menu" role="navigation">
                    <a href="index.html">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1" style="">
	                        <div class="mini nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>首页</div>
	                            <div class="red-stroke" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(-110%) translateY(0px) translateZ(0px);"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(0)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1">
	                        <div class="mini nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>魅力河北</div>
	                            <div class="red-stroke"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(1)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1">
	                        <div class="mini nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            工作动态
	                            <div class="red-stroke"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(2)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1">
	                        <div class="mini nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>数据楼宇</div>
	                            <div class="red-stroke"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(3)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1">
	                        <div class="mini nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>楼宇载体</div>
	                            <div class="red-stroke"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(4)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1">
	                        <div class="mini nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>全景VR</div>
	                            <div class="red-stroke"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(5)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1">
	                        <div class="mini nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>全区经济</div>
	                            <div class="red-stroke"></div>
	                        </div>
	                    </div>
                    </a>
                </nav>
            </div>
            <div class="w-nav-overlay" data-wf-ignore=""></div>
        </div>
    </header>
    <header class="header" data-ix="mini-header-appear">
        <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
            <div class="header w-clearfix wrapper">
                <a class="logo w-nav-brand" hrefs="http://www.nwcl.com.hk/zh-hans/"><img height="" src="./images/footer-logo-nwgm.png" title="天津楼宇" alt="天津楼宇">
                </a>
                <div class="menu-button w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
                <nav class="navmenu w-nav-menu" role="navigation">
                    <a href="index.html">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1">
	                        <div class="nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>首页</div>
	                            <div class="red-stroke"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(0)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1" style="">
	                        <div class="nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>魅力河北</div>
	                            <div class="red-stroke" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(-110%) translateY(0px) translateZ(0px);"></div>
	                        </div>
	                    </div>
                    </a>
                   	<a href="javascript:;" onclick="retriveBody(1)">
                   		 <div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1" style="">
	                        <div class="nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            工作动态
	                            <div class="red-stroke" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(-110%) translateY(0px) translateZ(0px);"></div>
	                        </div>
	                    </div>
                   	</a>
                    <a href="javascript:;" onclick="retriveBody(2)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1">
	                        <div class="nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>数据楼宇</div>
	                            <div class="red-stroke"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(3)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1" style="">
	                        <div class="nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>楼宇载体</div>
	                            <div class="red-stroke" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(-110%) translateY(0px) translateZ(0px);"></div>
	                        </div>
	                    </div>
                    </a>
                    <a href="javascript:;" onclick="retriveBody(4)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1" style="">
	                        <div class="nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>全景VR</div>
	                            <div class="red-stroke" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(-110%) translateY(0px) translateZ(0px);"></div>
	                        </div>
	                    </div>
                    </a>
                     <a href="javascript:;" onclick="retriveBody(5)">
                    	<div class="nav-dropdown w-dropdown" data-delay="0" data-hover="1" style="">
	                        <div class="nav-dropdown-toggle w-dropdown-toggle" data-ix="nav-stroke-appear">
	                            <div>全区经济</div>
	                            <div class="red-stroke" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(-110%) translateY(0px) translateZ(0px);"></div>
	                        </div>
	                    </div>
                    </a>
                </nav>
            </div>
            <div class="w-nav-overlay" data-wf-ignore=""></div>
        </div>
    </header>
    <div id="dynamic_body">
        <section class="hero hash" id="hero-banner">
            <div class="hero-slider w-slider" data-animation="slide" data-autoplay="1" data-delay="8000" data-duration="800" data-infinite="1">
                <div class="w-slider-mask">
                    <div class="hero-slide w-slide" style="transform: translateX(-1903px); opacity: 1; transition: transform 800ms;">
                        <div class="slide-content">
                            <div class="hero-slide-bg" data-ix="slide-bg-enlarge" style="background-image: linear-gradient(rgba(84, 43, 82, 0.25), rgba(84, 43, 82, 0.25)),url(images/banner1.jpg); transform: rotateX(0.001deg) rotateY(0.001deg) rotateZ(0.001deg) scaleX(1) scaleY(1); transition: transform 1000ms;"></div>
                            <div class="slider-content-group">
                                <div class="slide-cat" data-ix="slide-from-top-slider" style="opacity: 0; transform: translateX(-40px) translateY(0px) translateZ(0px); transition: opacity 200ms, transform 200ms;">亮点</div>
                                <h1 class="slider-h1" data-ix="slide-from-top-slider-2" style="opacity: 0; transform: translateX(-60px) translateY(0px) translateZ(0px); transition: opacity 200ms, transform 200ms;">天津楼宇名镌</h1>
                                <a class="button w-inline-block" data-ix="slide-from-top-slider-3" hrefs="http://www.nwcl.com.hk/zh-hans/property/current-projects/%E6%B7%B1%E5%9C%B3%E6%96%B0%E4%B8%96%E7%95%8C%E5%90%8D%E9%95%8C" style="transition: background-color 0.3s ease 0s, color 0.3s ease 0s, opacity 200ms, transform 200ms; opacity: 0; transform: translateX(-60px) translateY(0px) translateZ(0px);">
                                    <div>查看详情</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slide w-slide" style="transform: translateX(-1903px); opacity: 1; transition: transform 800ms;">
                        <div class="slide-content">
                            <div class="hero-slide-bg" data-ix="slide-bg-enlarge" style="background-image: linear-gradient(rgba(84, 43, 82, 0.25), rgba(84, 43, 82, 0.25)),url(images/banner2.jpg); transform: rotateX(0.001deg) rotateY(0.001deg) rotateZ(0.001deg) scaleX(1.1) scaleY(1.1); transition: transform 6000ms;"></div>
                            <div class="slider-content-group">
                                <div class="slide-cat" data-ix="slide-from-top-slider" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 250ms, transform 250ms;">亮点</div>
                                <h1 class="slider-h1" data-ix="slide-from-top-slider-2" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 250ms, transform 250ms;">天津楼宇展示</h1>
                                <a class="button w-inline-block" data-ix="slide-from-top-slider-3" hrefs="http://www.nwcl.com.hk/zh-hans/property/current-projects/%E5%AE%81%E6%B3%A2%E6%96%B0%E4%B8%96%E7%95%8C" style="transition: background-color 0.3s ease 0s, color 0.3s ease 0s, opacity 250ms, transform 250ms; opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px);">
                                    <div>查看详情</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slide w-slide" style="transform: translateX(-1903px); opacity: 1; transition: transform 800ms;">
                        <div class="slide-content">
                            <div class="hero-slide-bg" data-ix="slide-bg-enlarge" style="background-image: linear-gradient(rgba(84, 43, 82, 0.25), rgba(84, 43, 82, 0.25)), url(images/banner3.jpg); transform: rotateX(0.001deg) rotateY(0.001deg) rotateZ(0.001deg) scaleX(1) scaleY(1); transition: transform 1000ms;"></div>
                            <div class="slider-content-group">
                                <div class="slide-cat" data-ix="slide-from-top-slider" style="opacity: 0; transform: translateX(-40px) translateY(0px) translateZ(0px); transition: opacity 200ms, transform 200ms;">亮点</div>
                                <h1 class="slider-h1" data-ix="slide-from-top-slider-2" style="opacity: 0; transform: translateX(-60px) translateY(0px) translateZ(0px); transition: opacity 200ms, transform 200ms;">名胜楼盘 • 天津楼宇</h1>
                                <a class="button w-inline-block" data-ix="slide-from-top-slider-3" hrefs="http://www.nwcl.com.hk/zh-hans/property/current-projects/%E6%B2%88%E9%98%B3%E5%B0%9A%E6%99%AF-%E2%80%A2-%E6%96%B0%E4%B8%96%E7%95%8C" style="transition: background-color 0.3s ease 0s, color 0.3s ease 0s, opacity 200ms, transform 200ms; opacity: 0; transform: translateX(-60px) translateY(0px) translateZ(0px);">
                                    <div>查看详情</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slide w-slide" style="transform: translateX(-1903px); opacity: 1; transition: transform 800ms;">
                        <div class="slide-content">
                            <div class="hero-slide-bg" data-ix="slide-bg-enlarge" style="background-image: linear-gradient(rgba(84, 43, 82, 0.25), rgba(84, 43, 82, 0.25)),url(images/banner4.jpg); transform: rotateX(0.001deg) rotateY(0.001deg) rotateZ(0.001deg) scaleX(1) scaleY(1); transition: transform 1000ms;"></div>
                            <div class="slider-content-group">
                                <div class="slide-cat" data-ix="slide-from-top-slider" style="opacity: 0; transform: translateX(-40px) translateY(0px) translateZ(0px); transition: opacity 200ms, transform 200ms;">亮点</div>
                                <h1 class="slider-h1" data-ix="slide-from-top-slider-2" style="opacity: 0; transform: translateX(-60px) translateY(0px) translateZ(0px); transition: opacity 200ms, transform 200ms;">天津楼宇 • 云逸</h1>
                                <a class="button w-inline-block" data-ix="slide-from-top-slider-3" hrefs="http://www.nwcl.com.hk/zh-hans/property/current-projects/%E5%B9%BF%E5%B7%9E%E5%B2%AD%E5%8D%97%E6%96%B0%E4%B8%96%E7%95%8C-%E2%80%A2-%E4%BA%91%E9%80%B8" style="transition: background-color 0.3s ease 0s, color 0.3s ease 0s, opacity 200ms, transform 200ms; opacity: 0; transform: translateX(-60px) translateY(0px) translateZ(0px);">
                                    <div>查看详情</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-arrow w-hidden-small w-hidden-tiny w-slider-arrow-left"><img src="./images/hero-arrow-l.svg">
                </div>
                <div class="hero-arrow w-hidden-small w-hidden-tiny w-slider-arrow-right"><img src="./images/hero-arrow.svg">
                </div>
                <div class="slider-nav w-round w-slider-nav">
                    <div class="w-slider-dot" data-wf-ignore=""></div>
                    <div class="w-slider-dot w-active" data-wf-ignore=""></div>
                    <div class="w-slider-dot" data-wf-ignore=""></div>
                    <div class="w-slider-dot" data-wf-ignore=""></div>
                </div>
            </div>
        </section>
        <div class="mission section hash" id="mission-section">
            <div class="field field-name-field-mission-section field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even">
                        <div class="wrapper">
                            <div class="flexbox">
                                <div class="col-33">
                                    <div class="bar-wrapper" data-ix="square">
                                        <h2 class="h2">关于<br>楼宇经济</h2></div>
                                </div>
                                <div class="col-66">
                                    <p>楼宇经济是近年来中国城市经济发展中涌现的一种新型经济形态。它是以商务楼、功能性板块和区域性设施为主要载体，以开发、出租楼宇引进各种企业，从而引进税源，带动区域经济发展为目的，以体现集约型、高密度为特点的一种经济形态。主要表现为现代服务业，如金融业、咨询业、广告策划、影视制作、网络公司、律师事务所、会计事务所、咨询中介公司、高科技企业、娱乐服务企业、房地产开发企业、旅游服务企业、交通通讯企业等国内外各类企业和公司。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="property section hash" id="property-section">
            <div class="center wrapper">

                <div class="field field-name-field-property-section field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <!--	<div class="section-cat">核心业务</div>-->
                            <h2 class="blue h2">VR项目</h2>
                            <p class="blue section-description">在优质地段，我们发展具国际水准的物业项目，更提供优质的管理服务，使资产价值得以恒久保持。</p>
                        </div>
                    </div>
                </div>

                <div class="floor-body city-list">
                    <ul>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop#110000">
                                    <img data-original="/public/images/index/city_beijing.jpg" alt="" class="lazy" width="280" src="./images/city_beijing.jpg" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>路劲</big>
                                            <small>大厦</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop#310000">
                                    <img data-original="/public/images/index/city_shanghai.jpg" alt="" class="lazy" width="280" src="./images/city_shanghai.jpg" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>丹尼斯</big>
                                            <small>大卫城</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop#370200">
                                    <img data-original="/public/images/index/city_qd.jpg" alt="" class="lazy" width="280" src="./images/city_qd.jpg" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>税务局</big>
                                            <small>大厦</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop#610100">
                                    <img data-original="/public/images/index/city_xian.jpg" alt="" class="lazy" width="280" src="./images/city_xian.jpg" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>西南</big>
                                            <small>商业圈</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop#440300">
                                    <img data-original="/public/images/index/city_shenzhen.png" alt="" class="lazy" width="280" src="./images/city_shenzhen.png" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>腾讯</big>
                                            <small>大厦</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop#120000">
                                    <img data-original="/public/images/index/city_tianjin.jpg" alt="" class="lazy" width="280" src="./images/city_tianjin.jpg" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>中原</big>
                                            <small>福塔</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop#350200">
                                    <img data-original="/public/images/index/city_xiamen.png" alt="" class="lazy" width="280" src="./images/city_xiamen.png" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>北京</big>
                                            <small>天安门</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop">
                                    <img data-original="/public/images/index/city_other.jpg" alt="" class="lazy" width="280" src="./images/city_other.jpg" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>丹尼斯</big>
                                            <small>经济区</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop#350200">
                                    <img data-original="/public/images/index/city_xiamen.png" alt="" class="lazy" width="280" src="./images/city_xiamen.png" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>新玛特</big>
                                            <small>商场</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="col-xs-6 col-sm-3">
                            <div class="city-img">
                                <a hrefs="https://www.urwork.cn/workshop">
                                    <img data-original="/public/images/index/city_other.jpg" alt="" class="lazy" width="280" src="./images/city_other.jpg" style="display: inline;">
                                    <div class="sexangle">
                                        <span>
                                            <big>其他</big>
                                            <small>OTHER</small>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--/ 城市 -->
            </div>
            <a class="button w-inline-block" hrefs="http://www.nwcl.com.hk/zh-hans/property/current-projects">
                <div>所有项目</div>
            </a>
        </div>
        <div class="press section hash" id="press-section">
            <div class="center wrapper">
                <div class="field field-name-field-press-section field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <div class="red-purple section-cat"></div>
                            <h2 class="h2 redpurple">工作动态</h2></div>
                    </div>
                </div>
                <div class="news-flex">
                    <a class="home-news-item news w-clearfix w-inline-block " data-ix="" target="" hrefs="http://www.nwcl.com.hk/zh-hans/press-room/news/%E6%96%B0%E4%B8%96%E7%95%8C%E4%B8%AD%E5%9B%BD%E5%9C%B0%E4%BA%A7%E4%BB%A5%E4%BA%BA%E6%B0%91%E5%B8%812085%E4%BA%BF%E5%85%83%E5%A4%BA%E5%BE%97%E5%B9%BF%E5%B7%9E%E5%B8%82%E4%B8%9C%E9%83%A8%E4%BA%A4%E9%80%9A%E6%9E%A2%E7%BA%BD%E4%BC%98%E8%B4%A8%E5%9C%9F%E5%9C%B0-%E5%8C%A0%E5%BF%83%E6%89%93%E9%80%A0%E5%95%86%E4%BD%8F%E7%BB%BC%E5%90%88%E4%BD%93">
                        <div class="news-pic wrap"><img alt="天津楼宇以人民币20.85亿元夺得广州市东部交通枢纽优质土地 匠心打造商住综合体" title="天津楼宇以人民币20.85亿元夺得广州市东部交通枢纽优质土地 匠心打造商住综合体" width="100%" sizes="(max-width: 479px) 83vw, (max-width: 767px) 87vw, (max-width: 991px) 41vw, 24vw" src="./images/sedca.jpg">
                        </div>
                        <div class="news-text-group">
                            <div class="black news-item-title">天津楼宇以人民币20.85亿元夺得广州市东部交通枢纽优质土地 匠心打造商住综合体</div>
                            <div class="_14 news-item-title">查看更多 &gt;</div>
                        </div>
                        <div class="date-block ver-b">
                            <div data-ix="">23</div>
                            <div class="date-block-month" data-ix="">10月</div>
                        </div>
                    </a>
                    <a class="home-news-item news w-clearfix w-inline-block " data-ix="" target="" hrefs="http://www.nwcl.com.hk/zh-hans/press-room/news/%E5%AE%81%E6%B3%A2%E5%B8%82%E5%A7%94%E4%B9%A6%E8%AE%B0%E4%BC%9A%E8%A7%81%E9%83%91%E5%BF%97%E5%88%9A%E5%85%88%E7%94%9F-%E6%8E%A2%E8%AE%A8%E4%B8%A4%E5%9C%B0%E5%90%88%E4%BD%9C%E4%BA%A4%E6%B5%81">
                        <div class="news-pic wrap"><img alt="宁波市委书记会见郑志刚先生 探讨两地合作交流 " title="宁波市委书记会见郑志刚先生 探讨两地合作交流 " width="100%" sizes="(max-width: 479px) 83vw, (max-width: 767px) 87vw, (max-width: 991px) 41vw, 24vw" src="images/sedcc.jpg">
                        </div>
                        <div class="news-text-group">
                            <div class="black news-item-title">宁波市委书记会见郑志刚先生 探讨两地合作交流 </div>
                            <div class="_14 news-item-title">查看更多 &gt;</div>
                        </div>
                        <div class="date-block ver-b">
                            <div data-ix="">03</div>
                            <div class="date-block-month" data-ix="">10月</div>
                        </div>
                    </a>
                    <a class="home-news-item news w-clearfix w-inline-block " data-ix="" target="" hrefs="http://www.nwcl.com.hk/zh-hans/press-room/news/%E6%96%B0%E4%B8%96%E7%95%8C%E4%B8%AD%E5%9B%BD%E5%9C%B0%E4%BA%A7%E4%BA%8E2017%E5%B9%B4%E9%A6%96%E5%AD%A3%E8%8D%A3%E8%8E%B7%E4%B8%A4%E9%A1%B9%E6%AE%8A%E8%8D%A3">
                        <div class="news-pic wrap"><img alt="天津楼宇于2017年首季荣获两项殊荣" title="天津楼宇于2017年首季荣获两项殊荣" width="100%" sizes="(max-width: 479px) 83vw, (max-width: 767px) 87vw, (max-width: 991px) 41vw, 24vw" src="./images/sedcb.jpg">
                        </div>
                        <div class="news-text-group">
                            <div class="black news-item-title">天津楼宇于2017年首季荣获两项殊荣</div>
                            <div class="_14 news-item-title">查看更多 &gt;</div>
                        </div>
                        <div class="date-block ver-b">
                            <div data-ix="">12</div>
                            <div class="date-block-month" data-ix="">4月</div>
                        </div>
                    </a>
                </div>
                <a class="button w-inline-block" hrefs="http://www.nwcl.com.hk/zh-hans/press-room/news">
                    <div>查看所有动态</div>
                </a>
            </div>
        </div>
        <div class="section sustainablilty hash" id="sustainablilty-section">
            <div class="center w-clearfix wrapper">
                <div class="field field-name-field-section-sustainablilty field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <div class="green section-cat">政策法规</div>
                            <h2 class="green h2"></h2>
                            <p class="section-description" data-ix="fade-up" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 300ms, transform 300ms;">房地产税收是指国家通过税务机关，或由税务机关委托通过房地产行政管理部门向负有房地产税缴......</p>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="button w-inline-block" data-ix="fade-up-2" hrefs="http://www.nwcl.com.hk/zh-hans/sustainability/overview" style="transition: background-color 0.3s ease 0s, color 0.3s ease 0s, opacity 300ms, transform 300ms; opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px);">查看更多</a>
                </div>
            </div>
            <div class="sustain-bg" data-ix="scroll-zoom-in" style="opacity: 0.5; transition: opacity 6000ms, transform 6000ms; transform: scaleX(1.1) scaleY(1.1);"></div>
        </div>
        <div id="map_kcon">
            <!--	<div id="cover"></div>-->
            <div class="top_slide_wrap">
                <!-----地图------->
                <div id="outer-box">
                    <div id="container_map" tabindex="0"></div>
                    <div id="panel" class="scrollbar1">
                        <div id="intro">
                            <h2>楼宇经济</h2>
                        </div>
                        <ul id="btnList"></ul>
                        </ul>
                    </div>
                </div>
       <script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.1&key=486c772a6e41c16765d673f05f2a0e67'></script>
                <!-- UI组件库 1.0 -->
                   <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script> 
                <script type="text/javascript">
                    //创建地图
                    var map = new AMap.Map('container_map', {
                        zoom: 9
                    });
                    AMapUI.loadUI(['misc/MarkerList', 'overlay/SimpleMarker', 'overlay/SimpleInfoWindow'],
                        function(MarkerList, SimpleMarker, SimpleInfoWindow) {
                            var markerList = new MarkerList({
                                //关联的map对象
                                map: map,
                                //列表的dom容器的id
                                listContainer: 'btnList',
                                //返回数据项的Id
                                getDataId: function(dataItem, index) {
                                    //index表示该数据项在数组中的索引位置，从0开始，如果确实没有id，可以返回index代替
                                    return dataItem.id;
                                },
                                //返回数据项的位置信息，需要是AMap.LngLat实例，或者是经纬度数组，比如[116.79, 39.90]
                                getPosition: function(dataItem) {
                                    return dataItem.position;
                                },
                                //返回数据项对应的Marker
                                getMarker: function(dataItem, context, recycledMarker) {
                                    //存在可回收利用的marker
                                    if (recycledMarker) {
                                        //直接更新内容返回
                                        recycledMarker.setIconLabel(context.id);
                                        recycledMarker.setIconStyle(dataItem.iconStyle);
                                        return recycledMarker;
                                    }
                                    //返回一个新的Marker
                                    return new SimpleMarker({
                                        containerClassNames: 'my-marker',
                                        iconStyle: dataItem.iconStyle,
                                        iconLabel: context.id
                                    });
                                },
                                //返回数据项对应的infoWindow
                                getInfoWindow: function(dataItem, context, recycledInfoWindow) {
                                    if (recycledInfoWindow) {
                                        //存在可回收利用的infoWindow, 直接更新内容返回
                                        recycledInfoWindow.setInfoTitle(dataItem.title);
                                        recycledInfoWindow.setInfoBody(dataItem.desc);
                                        return recycledInfoWindow;
                                    }
                                    //返回一个新的InfoWindow
                                    return new SimpleInfoWindow({
                                        offset: new AMap.Pixel(0, -37),
                                        infoTitle: dataItem.title,
                                        infoBody: dataItem.desc
                                    });
                                },
                                getListElement: function(dataItem, context, recycledListElement) {
                                    var tpl = '<button style="background-color:<%= dataItem.iconStyle %>">' +
                                        '<%- dataId %></button> <%- dataItem.title %>';
                                    var content = MarkerList.utils.template(tpl, {
                                        dataItem: dataItem,
                                        dataId: context.id
                                    });
                                    if (recycledListElement) {
                                        //存在可回收利用的listElement, 直接更新内容返回
                                        recycledListElement.innerHTML = content;
                                        return recycledListElement;
                                    }
                                    //返回一段html，MarkerList将利用此html构建一个新的dom节点
                                    return '<li>' + content + '</li>';
                                }
                            });
                            //构建一个数据项数组，数据项本身没有格式要求，但需要支持下述的getDataId和getPosition
                            var data = [{
                                id: 'A',
                                position: [116.02, 39.90],
                                iconStyle: 'red',
                                title: '路劲大厦',
                                desc: '金水区商务外环14号'
                            }, {
                                id: 'B',
                                position: [116.41, 39.90],
                                iconStyle: 'green',
                                title: '万达广场',
                                desc: '郑州大玉米向南一百米'
                            }, {
                                id: 'C',
                                position: [116.79, 39.90],
                                iconStyle: 'purple',
                                title: '北京天安门',
                                desc: '北京天安门是一个有魅力的地方'
                            }, {
                                id: 'D',
                                position: [116.45, 39.90],
                                iconStyle: 'green',
                                title: '深圳大梅沙',
                                desc: '深圳大梅沙馆是一个适合拍摄的地方'
                            }, {
                                id: 'E',
                                position: [116.44, 39.95],
                                iconStyle: 'green',
                                title: '深圳南山腾讯大厦',
                                desc: '有中国硅谷之称呼，适合喜欢IT的人进去。'
                            }, {
                                id: 'F',
                                position: [116.41, 39.91],
                                iconStyle: 'green',
                                title: '深圳大外滩',
                                desc: '这里聚集了一些喜欢游泳的人'
                            }];
                            //展示该数据
                            markerList.render(data);
                        });
                </script>
            </div>
        </div>
        <div class="content_nav">
	        <div id="content1">
	            <div class="legend">
	                <h1>楼宇经济</h1>
	                <div class="skills">
	                    <ul>
	                        <li class="jq">2017年盘活面积</li>
	                        <li class="css">10月税收</li>
	                        <li class="html">1～10月税收</li>
	                        <li class="php">10月留区税收</li>
	                        <li class="sql">1～10月留区税收</li>
	                    </ul>
	                </div>
	            </div>
	            <div id="diagram"></div>
	        </div>
	        <div class="get">
	            <div class="arc">
	                <span class="text">2017年盘活面积</span>
	                <input type="hidden" class="percent" value="45" />
	                <input type="hidden" class="color" value="#97BE0D" />
	            </div>

	            <div class="arc">
	                <span class="text">10月税收</span>
	                <input type="hidden" class="percent" value="45" />
	                <input type="hidden" class="color" value="#D84F5F" />
	            </div>

	            <div class="arc">
	                <span class="text">1～10月税收</span>
	                <input type="hidden" class="percent" value="80" />
	                <input type="hidden" class="color" value="#88B8E6" />
	            </div>
	            <div class="arc">
	                <span class="text">10月留区税收</span>
	                <input type="hidden" class="percent" value="53" />
	                <input type="hidden" class="color" value="#BEDBE9" />
	            </div>
	            <div class="arc">
	                <span class="text">1～10月留区税收</span>
	                <input type="hidden" class="percent" value="45" />
	                <input type="hidden" class="color" value="#EDEBEE" />
	            </div>
	        </div>
	    </div>
    </div>

    <section class="footer">
        <div class="w-clearfix wrapper">
            <div class="footer-logo" style="display: none"><img src="./images/footer-logo.svg" title="天津楼宇" alt="天津楼宇">
            </div>
            <div class="footer-flex">
                <div class="footer-col">
                    <div class="footer-title">关于天津楼宇</div>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/content/corporate-profile">
							公司简介 </a>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/about-nwcl/missions-and-values">
							使命和愿景 </a>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/about-nwcl/directors&amp;management">
							董事及管理层 </a>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/about-nwcl/milestones">
							里程碑 </a>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/about-nwcl/awards">
							奖项 </a>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/about-nwcl/corporate-profile">
							集团架构 </a>
                </div>
                <div class="footer-col">
                    <div class="footer-title">房地产物业</div>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/property/current-projects">
							现有发展项目 </a>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/property/past-developments">
							昔日发展项目 </a>
                    <a target="_blank" class="footer-link" hrefs="http://www.nwd.com.hk/zh-hans/property">
							天津楼宇发展旗下项目 </a>
                    <a target="_blank" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/property/photo-library">
							图片库 </a>
                </div>
                <div class="footer-col">
                    <div class="footer-title">政策法规</div>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/sustainability/overview">
							概览 </a>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/sustainability/environment">
							环境 </a>
                    <a target="" class="footer-link" hrefs="http://www.nwcl.com.hk/zh-hans/sustainability/community">
							社区活动 </a>
                </div>
                <div class="footer-col">
                    <div class="footer-title">
                        <a class="footer-title-link" hrefs="http://www.nwcl.com.hk/zh-hans/press-room/news">
								新闻中心 </a>
                    </div>
                    <div class="footer-title">
                        <a class="footer-title-link" hrefs="http://www.nwcl.com.hk/zh-hans/nwcl-club">
								楼宇经济 </a>
                    </div>
                    <div class="footer-title">
                        <a class="footer-title-link" hrefs="http://www.nwcl.com.hk/zh-hans/investor">
								投资者 </a>
                    </div>
                    <div class="footer-title">
                        <a class="footer-title-link" hrefs="http://www.nwcl.com.hk/zh-hans/contactus">
								联系我们 </a>
                    </div>
                </div>
                <div class="footer-col">
                    <div class="footer-title">在微信关注我们</div><img src="./images/nwcl-wechat-qr.jpg" width="100" title="天津楼宇" alt="天津楼宇">
                </div>
            </div>
        </div>
    </section>
    <script src="./js/webflow.js"></script>
    <div class="remodal-overlay remodal-is-closed" style="display: none;"></div>
    <div class="remodal-wrapper remodal-is-closed" style="display: none;">
        <div class="remodal searchbox remodal-is-initialized remodal-is-closed" data-remodal-id="searchbox" tabindex="-1">
            <button data-remodal-action="close" class="remodal-close"></button>
            <form class="classname" action="http://www.nwcl.com.hk/zh-hans" method="post" id="search-block-form" accept-charset="UTF-8">
                <div>
                    <div class="container-inline">
                        <h2 class="element-invisible">搜索表单</h2>
                        <div class="element-invisible element-invisible form-actions form-wrapper" id="edit-actions">
                            <input type="submit" id="edit-submit" name="op" value="Search" class="form-submit">
                        </div>
                        <div class="form-item form-type-textfield form-item-search-block-form">
                            <label for="edit-search-block-form--2">Search this site </label>
                            <input title="Enter the terms you wish to search for." class="custom-search-box form-text" placeholder="" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128">
                        </div>
                        <div class="form-item form-type-select form-item-custom-search-types">
                            <label for="edit-custom-search-types">Search for </label>
                            <select class="custom-search-selector custom-search-types form-select" id="edit-custom-search-types" name="custom_search_types">
                                <option value="c-all" selected="selected">-Any-</option>
                                <option value="c-article">Article</option>
                                <option value="c-page">Basic page</option>
                                <option value="c-news">新闻</option>
                            </select>
                        </div>
                        <input type="hidden" name="form_build_id" value="form-Ohr8J61jPupsaoBuI8qASzwA1pAMZExWndZJOUZkkH4">
                        <input type="hidden" name="form_id" value="search_block_form">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">
        var ul = document.getElementById('ss-ss');
        // ul.onclick = function(e) {
        //     var el = e.srcElement || e.target;
        //     var index = el.getAttribute('id').substring(2);
        //     for (var i = 0; i < 10; i++) {
        //         document.getElementById('page' + i).style.display = 'none';
        //     }
        //     document.getElementById('page' + index).style.display = 'block';
        // }
        $('#t11').click(function() {
            // window.location.href = 'builds.html';
        })
        function retriveBody(t) {
            // $(".navbar-nav li.active").removeClass("active")
            // $(this).addClass("active");
            if (t == '0') {
            	
                $('#dynamic_body').empty().load('laws.html');
               
            } else if (t == '1') {
                $('#dynamic_body').empty().load('work.html');
               
            } else if (t == '2') {
                $('#dynamic_body').empty().load('builds.html');
            } else if (t == '3') {
                $('#dynamic_body').empty().load('economic.html');
            } else if (t == '4') {
                $('#dynamic_body').empty().load('vrs.html');
            }else if (t == '5') {
                $('#dynamic_body').empty().load('map.html');
            }
        }
        function showdetail(id){
			$('#dynamic_body').empty().load('detail.html');
		}
        function showBuildEconomic(){
			$('#dynamic_body').empty().load('buildeconomic.html');
		}
		function showBuildInfo(){
			$('#dynamic_body').empty().load('buildinfo.html');
		}
		
    </script>

</body>
</html>
